*.swp

*.png
*.root
*.sqlite
Thumbs.db

figure/
zhaohaogui/
yangtao/
caoxuepeng/
bubble_analy/
xian_experiment/
DataAnalysis/data/[0-9]*
DataAnalysis/data/*.jpg
DataAnalysis/data/
HPGe_parameter/outfile*
*.[dD][Oo][Cc]
*.docx
*.xls
*.xlsx

*.[ao]
*~
*.db

*.[Ss]pe
*.[Cc]hn
*.[Ss]pc
*.[Cc]nf

calculateMDA/*.[Tt]xt
